.radio-group .form-check {
    padding-left: 0;
    padding-top: 10;
    padding-bottom: 0;
    margin-bottom: 10;
    border-bottom: none;
  }
  
  #radios { /* this is the id of the group */
      flex-direction: column;
  }
  
  .radio-group .btn-group > .form-check:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: initial;
  }
  
  .radio-group .btn-group > .form-check:not(:first-child) > .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }